* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif; 

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /*alle Elemente werden zentriert mit align-items */
    background-image: url('hintergrundbild.jpg');
    background-size: cover;
    height: 100vh; /* vh steht für Viewport Height mit 100% funktioniert es nicht */
}


#navbar {
    width: 100%;
    color: #333;
    text-align: center;
    padding: 10px 0;
    font-size: 50px;
    position: fixed;
    top: 0;
    left: 0;
}

#suche, #karussell {
    width: 50%; 
    padding: 12px 20px;
    font-size: 18px;
    margin: 20px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
    
}

#anzeige {
    display: flex;
    width: 80%;
    justify-content: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px; /* Abstand zwischen den Songboxen */
    margin-top: 20px; /* Abstand zur Navigationsleiste */
}

div.song {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Inhalt wird zentriert */
    flex: 0 0 auto; /* Flexbox wird nicht vergrößert */
    width: 250px;
    height: 300px;
    border-radius: 8px;
    background-color: rgba(255, 228, 196, 0.2); /* Hintergrundfarbe mit Transparenz (letzte Nummer ist wie deckend die Farbe ist */
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: 700; /* Fett für Songtitel */
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    font-weight: 300; /* Leicht für Künstler:innennamen */
    color: #666;
}
}